<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >
      <span style="vertical-align: middle; padding-left: 10px;">Information</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <h4 style="margin: 14px;">where to find stop number</h4>

    <ion-card>
      <ion-card-content>
        <a target="_blank" rel="noopener noreferrer" href="http://rtt.metroinfo.org.nz/rtt/public/">
          http://rtt.metroinfo.org.nz/rtt/public/</a>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <a target="_blank" rel="noopener noreferrer" href="https://moovitapp.com/index/en-gb/public_transportation-lines-Christchurch-2202-776157">
          https://moovitapp.com/index/en-gb/public_transportation-lines-Christchurch-2202-776157</a>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <a target="_blank" rel="noopener noreferrer" href="https://opendata.canterburymaps.govt.nz/datasets/bus-stops/data">
          https://opendata.canterburymaps.govt.nz/datasets/bus-stops/data</a>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
